:root {
    --dark: #1b1b1b;
    --green: #5ea388;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--green);
    background: linear-gradient(to right top, var(--dark), var(--green));
    width: 100vw;
    height: 100vh;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.container {
    width: 1200px;
    height: 80vh;
    padding: 32px 92px;
    background: rgb(0, 0, 0, 0.75);
    background: linear-gradient(to right top, rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0.25));
    border-radius: 20px;
    position: relative;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(4px);
    overflow: auto;

}

.background_img {
    position: absolute;
    opacity: 0.35;


}

.bg__img--compuer {
    top: 0;
    right: 70%;
    height: 20vh;
    animation: slideDown 12s linear infinite;

}

.bg_img--rocket {
    top: 10vh;
    left: 70%;
    height: 50vh;
    animation: rotate 25s linear infinite;
}

.bg_img--imgstack {
    left: 0;
    top: 30%;
    height: 12.5vh;

}

.bg_--reactimg {
    left: 3.9vw;
    top: 45%;
    height: 20vh;

}

h1 {
    font-size: 48px;
    padding-bottom: 12px;
}

p {
    font-size: 20px;
    font-weight: 400;
}

a {
    color: var(--green);
    text-decoration: none;
    position: relative;
}

a:after {
    content: "";
    position: absolute;
    width: 0;
    top: 100%;
    height: 3px;
    left: 0;
    background: var(--green);
    background: linear-gradient(90deg, transparent, var(--green));
    transition: width 0.3s;
}

a:hover:after {
    width: 100%;
}

@keyframes slideDown {
    from {
        transform: translateY(-30vh)
    }

    to {
        transform: translateY(100vh)
    }
}

@keyframes rotate {
    from {
        transform: rotete(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}